<!--<mat-toolbar color="primary" class="barra">
  <section class="secao column">
    <div class="item">CURSO JARDEM MOURA</div>
    <div class="item">Português Simplificado</div>
  </section>
</mat-toolbar>-->
<!--
<mat-toolbar color="primary">
  <span>Application Title</span>

  &lt;!&ndash; This fills the remaining space of the current row &ndash;&gt;
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
-->
<mat-toolbar class="barra">
  <h1 class="titulo"><a class="link-titulo" routerLink="/"><img class="logo" src="../../assets/img/logo tipo final.png" alt="Logomarca"/></a></h1>
</mat-toolbar>
